label input {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

/* style its checked state..with a ticked icon */
[type=checkbox]:checked + span:before {
   content: '\2714'; 
  position: absolute;
   top: -7px; 
  left: 0;
  color:#878787;
}

.table-background {
	
font-size: 12px;
font-family: monospace;
  color: #878787;
  background-color: #242424; 
  background-clip: padding-box;
  border: 1px solid #ced4da;
    border-width: 1px 1px 1px 1px;

  /*border-radius: 0.25rem;*/
}

.table-backgroundHead {
	
font-size: 12px;
font-family: monospace;
  color: #336BCA;
  background-color: #242424; 
 /* background-clip: padding-box;*/
  border: 10px solid #ced4da;
  border-width: 1px 1px 1px 1px;
  /*border-radius: 0.25rem;*/
}
div.a {
font-size: 12px;
font-family: monospace;
/* height:800px; 
overflow-y: auto;*/
}

.a {
font-size: 12px;
font-family: monospace;
color: #878787;

}

div.book{
	float: right;
}
.book {
font-size: 12px;
font-family: monospace;
color: #878787;
}

div.b {
font-size: 9px;
}

div.wrap {
	height:80px;
	width:760px;
	align:left;
	overflow-y: auto;
	border-style: solid;
	border-width: thin;
	border-color: #a9a9a9;  
	font-family: monospace;
	color:#878787;
}

div.wrapTextBox {
	overflow: auto; 
}
div.selectBox {
	
	 padding: 10px 32px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50; padding: 5px 32px;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336; padding: 5px 32px;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;  } /* Black */
.selectBox {background-color: #e7e7e7;padding: 1px 10px; color:black;border-style: groove; border:true} /*  */


.form-control {
  /* display: block; */
  /* width: 100%; */
  /* height: calc(2.25rem + 2px); */
  /* padding: 0.375rem 0.75rem; */
  margin: 4px ;
  font-size: 1rem;
  line-height: 1.5;
  color: #878787;
  background-color: #242424; 
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    /*color: #D18B40;*/
    background-color: #242424;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
   /* color: #6c757d;*/
    opacity: 1; }
  .form-control::placeholder {
   /* color: #6c757d;*/
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
  /*  background-color: #e9ecef;*/
    opacity: 1; }

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff; }

.form-control-file,
.form-control-range {
  display: block;
  width: 100%; }
 